In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
pages = []
for i in range(1,51):
    url = 'http://books.toscrape.com/catalogue/page-' + str(i) + '.html'
    pages.append(url)

url_data = []

mapping = {'One':1,'Twp':2,'Three':3,'Four':4,'Five':5}

In [5]:
for url in pages:
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')

    book_data = []

    books = soup.find_all('article',class_ = 'product_pod')


    for book in books:
        title = book.h3.a['title']
        # print(title)

        price = book.find('p',class_ = 'price_color').text.strip()
        price = float(price.replace('£', ''))
        # print(price)

        availability = book.find('p',class_ = 'instock availability').text.strip()
        # print(availability)

        rating = book.p['class'][1]
        # print(rating)

        book_data.append([title, price, availability, rating])

    url_data.append(book_data)

In [6]:
columns = ['Title', 'Price', 'Availability', 'Rating']
flattened_data = [book for sublist in url_data for book in sublist]

In [9]:
df = pd.DataFrame(flattened_data, columns=['Title', 'Price', 'Availability', 'Rating'])
df['Rating'] = df['Rating'].map(mapping)

df.to_csv('book_data.csv', index=False)

In [10]:
df

,Title,Price,Availability,Rating
0,A Light in the Attic,51.77,In stock,3.0
1,Tipping the Velvet,53.74,In stock,1.0
2,Soumission,50.10,In stock,1.0
3,Sharp Objects,47.82,In stock,4.0
4,Sapiens: A Brief History of Humankind,54.23,In stock,5.0
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,In stock,1.0
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,In stock,4.0
997,A Spy's Devotion (The Regency Spies of London #1),16.97,In stock,5.0
998,1st to Die (Women's Murder Club #1),53.98,In stock,1.0
999,"1,000 Places to See Before You Die",26.08,In stock,5.0